asttokens
black
build
click
colorama
comm
contourpy
cycler
debugpy
decorator
distlib
executing
filelock
fonttools
iniconfig
ipykernel
ipython
jedi
joblib
jupyter_client
jupyter_core
kiwisolver
matplotlib
matplotlib-inline
mypy-extensions
nest-asyncio
numpy
packaging
pandas
parso
pathspec
pillow
platformdirs
pluggy
prompt-toolkit
psutil
pure-eval
Pygments
pyparsing
pyproject_hooks
pytest
python-dateutil
pytz
pyzmq
scikit-learn
scipy
seaborn
setuptools
six
stack-data
threadpoolctl
tornado
traitlets
tzdata
virtualenv
wcwidth
wheel
fastapi
pydantic
uvicorn
gunicorn